#goals {
  width: 35rem;
  max-width: 90%;
  margin: 4rem auto;
}

#goal-form {
  width: 30rem;
  max-width: 90%;
  margin: 4rem auto;
  padding: 4rem;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
